[submodule "asdf"]
	path = _lib/asdf
	url = https://github.com/asdf-vm/asdf.git
	branch = master
[submodule "alpine"]
	path = _lib/_opt/alpine
	url = git@github.com:0xkag/alpine.git
	branch = custom-2.26.x
[submodule "ansifilter"]
	path = _lib/ansifilter
	url = https://gitlab.com/saalen/ansifilter.git
	branch = master
[submodule "aspiers-git-config"]
	path = _lib/_todo/aspiers-git-config
	url = https://github.com/aspiers/git-config.git
	branch = master
[submodule "aspiers-shell-env"]
	path = _lib/_todo/aspiers-shell-env
	url = https://github.com/aspiers/shell-env.git
	branch = master
[submodule "autokey"]
	path = _lib/_opt/autokey
	url = https://github.com/autokey/autokey.git
	branch = master
[submodule "bitwise"]
	path = _lib/bitwise
	url = https://github.com/mellowcandle/bitwise.git
	branch = master
[submodule "bup"]
	path = _lib/_opt/bup
	url = https://github.com/bup/bup.git
	branch = 0.33.x
[submodule "compton"]
	path = _lib/compton
	url = https://github.com/chjj/compton.git
	branch = master
[submodule "emacs"]
	path = _lib/emacs
	url = https://github.com/emacs-mirror/emacs.git
	branch = emacs-29
[submodule "fasd"]
	path = _lib/_todo/fasd
	url = https://github.com/clvv/fasd.git
	branch = master
[submodule "flamegraph"]
	path = _lib/_todo/flamegraph
	url = https://github.com/brendangregg/FlameGraph.git
	branch = master
[submodule "fpart"]
	path = _lib/_todo/fpart
	url = https://github.com/martymac/fpart.git
	branch = master
[submodule "fzf"]
	path = _lib/fzf
	url = https://github.com/junegunn/fzf.git
	branch = master
[submodule "git-diff-blame"]
	path = _lib/git-diff-blame
	url = https://github.com/dmnd/git-diff-blame.git
	branch = master
[submodule "git-hammer"]
	path = _lib/_todo/git-hammer
	url = https://github.com/asharov/git-hammer.git
	branch = master
[submodule "git-hg"]
	path = _lib/_todo/git-hg
	url = https://github.com/cosmin/git-hg.git
	branch = master
[submodule "gollum"]
	path = _lib/_todo/gollum
	url = https://github.com/gollum/gollum.git
	branch = master
[submodule "i3blocks"]
	path = _lib/_opt/i3blocks
	url = https://github.com/vivien/i3blocks.git
	branch = master
[submodule "lambdash"]
	path = _lib/_todo/lambdash
	url = https://github.com/alestic/lambdash.git
	branch = master
[submodule "mosh"]
	path = _lib/_opt/mosh
	url = https://github.com/mobile-shell/mosh.git
	branch = master
[submodule "oh-my-zsh"]
	path = _lib/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
	branch = master
[submodule "pandoc"]
	path = _lib/_opt/pandoc
	url = https://github.com/jgm/pandoc.git
	branch = main
[submodule "password-store"]
	path = _lib/_opt/password-store
	url = https://git.zx2c4.com/password-store.git
	branch = master
[submodule "pcstat"]
	path = _lib/_todo/pcstat
	url = https://github.com/tobert/pcstat.git
	branch = main
[submodule "peda"]
	path = _lib/peda
	url = https://github.com/longld/peda.git
	branch = master
[submodule "picom"]
	path = _lib/picom
	url = https://github.com/yshui/picom.git
	branch = stable/10
[submodule "ps_mem"]
	path = _lib/_opt/ps_mem
	url = https://github.com/pixelb/ps_mem.git
	branch = master
[submodule "pwncat"]
	path = _lib/_todo/pwncat
	url = https://github.com/cytopia/pwncat.git
	branch = master
[submodule "pwndbg"]
	path = _lib/_todo/pwndbg
	url = https://github.com/pwndbg/pwndbg.git
	branch = dev
[submodule "pycoverage.el"]
	path = _lib/_todo/pycoverage.el
	url = https://github.com/mattharrison/pycoverage.el.git
	branch = master
[submodule "pyenv"]
	path = _lib/pyenv
	url = https://github.com/pyenv/pyenv.git
	branch = master
[submodule "pyenv-virtualenv"]
	path = _lib/pyenv-virtualenv
	url = https://github.com/pyenv/pyenv-virtualenv.git
	branch = master
[submodule "pyringe"]
	path = _lib/_todo/pyringe
	url = https://github.com/google/pyringe.git
	branch = master
[submodule "python-audio-tools"]
	path = _lib/_todo/python-audio-tools
	url = https://github.com/tuffy/python-audio-tools.git
	branch = master
[submodule "radare2"]
	path = _lib/_todo/radare2
	url = https://github.com/radareorg/radare2.git
	branch = master
[submodule "recordmydesktop"]
	path = _lib/_todo/recordmydesktop
	url = https://github.com/jamoozy/recordmydesktop.git
	branch = master
[submodule "retdec"]
	path = _lib/_todo/retdec
	url = https://github.com/avast-tl/retdec.git
	branch = master
[submodule "reveal.js"]
	path = _lib/_todo/reveal.js
	url = https://github.com/hakimel/reveal.js.git
	branch = master
[submodule "screenkey"]
	path = _lib/_todo/screenkey
	url = https://gitlab.com/wavexx/screenkey.git
	branch = master
[submodule "shellcheck"]
	path = _lib/_todo/shellcheck
	url = https://github.com/koalaman/shellcheck.git
	branch = master
[submodule "source-code-pro"]
	path = _lib/source-code-pro
	url = https://github.com/adobe-fonts/source-code-pro.git
	branch = release
[submodule "spacemacs"]
	path = _lib/spacemacs
	url = https://github.com/syl20bnr/spacemacs.git
	branch = develop
[submodule "tarsnap"]
	path = _lib/_opt/tarsnap
	url = https://github.com/Tarsnap/tarsnap.git
	branch = master
[submodule "testssl.sh"]
	path = _lib/_todo/testssl.sh
	url = https://github.com/drwetter/testssl.sh.git
	branch = 3.2
[submodule "tmux"]
	path = _lib/_opt/tmux
	url = https://github.com/tmux/tmux.git
	branch = master
[submodule "uthash"]
	path = _lib/_opt/uthash
	url = https://github.com/troydhanson/uthash.git
	branch = master
[submodule "vim"]
	path = _lib/_opt/vim
	url = https://github.com/vim/vim.git
	branch = master
[submodule "xclip"]
	path = _lib/xclip
	url = https://github.com/astrand/xclip.git
	branch = master
[submodule "xdotool"]
	path = _lib/xdotool
	url = https://github.com/jordansissel/xdotool.git
	branch = master
[submodule "xsel"]
	path = _lib/_todo/xsel
	url = https://github.com/kfish/xsel.git
	branch = master
[submodule "zappa"]
	path = _lib/_todo/zappa
	url = https://github.com/zappa/Zappa.git
	branch = master
[submodule "_lib/_todo/ld-preload-open"]
	path = _lib/_todo/ld-preload-open
	url = https://github.com/fritzw/ld-preload-open.git
