[submodule "_lib/oh-my-zsh"]
	path = _lib/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
	branch = master
[submodule "_lib/spacemacs"]
	path = _lib/spacemacs
	url = https://github.com/syl20bnr/spacemacs
	branch = develop
[submodule "_lib/fasd"]
	path = _lib/_todo/fasd
	url = https://github.com/clvv/fasd
	branch = master
[submodule "_lib/pyenv"]
	path = _lib/pyenv
	url = git@github.com:0xkag/pyenv.git
	branch = fix-exec-change
[submodule "_lib/pyenv-virtualenv"]
	path = _lib/pyenv-virtualenv
	url = https://github.com/pyenv/pyenv-virtualenv.git
	branch = master
[submodule "_lib/gollum"]
	path = _lib/_todo/gollum
	url = https://github.com/gollum/gollum
	branch = master
[submodule "_lib/ps_mem"]
	path = _lib/ps_mem
	url = https://github.com/pixelb/ps_mem/
	branch = master
[submodule "_lib/password-store"]
	path = _lib/password-store
	url = https://git.zx2c4.com/password-store
	branch = master
[submodule "_lib/python-audio-tools"]
	path = _lib/_todo/python-audio-tools
	url = git://github.com/tuffy/python-audio-tools.git
	branch = master
[submodule "_lib/git-diff-blame"]
	path = _lib/git-diff-blame
	url = https://github.com/dmnd/git-diff-blame
	branch = master
[submodule "_lib/pandoc"]
	path = _lib/pandoc
	url = https://github.com/jgm/pandoc
	branch = master
[submodule "_lib/aspiers-shell-env"]
	path = _lib/_todo/aspiers-shell-env
	url = https://github.com/aspiers/shell-env
	branch = master
[submodule "_lib/aspiers-git-config"]
	path = _lib/_todo/aspiers-git-config
	url = https://github.com/aspiers/git-config
	branch = master
[submodule "_lib/bup"]
	path = _lib/bup
	url = https://github.com/bup/bup
	branch = master
[submodule "_lib/source-code-pro"]
	path = _lib/source-code-pro
	url = https://github.com/adobe-fonts/source-code-pro.git
	branch = release
[submodule "_lib/git-hg"]
	path = _lib/_todo/git-hg
	url = https://github.com/cosmin/git-hg
	branch = master
[submodule "_lib/peda"]
	path = _lib/peda
	url = https://github.com/longld/peda
	branch = master
[submodule "_lib/vim"]
	path = _lib/vim
	url = https://github.com/vim/vim.git
	branch = master
[submodule "_lib/pelican"]
	path = _lib/pelican
	url = https://github.com/getpelican/pelican
	branch = master
[submodule "_lib/pelican-themes"]
	path = _lib/pelican-themes
	url = https://github.com/getpelican/pelican-themes
	branch = master
[submodule "_lib/pelican-plugins"]
	path = _lib/pelican-plugins
	url = https://github.com/getpelican/pelican-plugins
	branch = master
[submodule "_lib/_todo/reveal.js"]
	path = _lib/_todo/reveal.js
	url = https://github.com/hakimel/reveal.js.git
	branch = master
[submodule "_lib/tmux"]
	path = _lib/tmux
	url = https://github.com/tmux/tmux.git
	branch = master
[submodule "_lib/tarsnap"]
	path = _lib/tarsnap
	url = https://github.com/Tarsnap/tarsnap.git
	branch = master
[submodule "_lib/_todo/shellcheck"]
	path = _lib/_todo/shellcheck
	url = https://github.com/koalaman/shellcheck.git
	branch = master
[submodule "_lib/alpine"]
	path = _lib/alpine
	url = git@github.com:0xkag/alpine.git
	branch = custom-2.21.x
[submodule "_lib/_todo/pyringe"]
	path = _lib/_todo/pyringe
	url = https://github.com/google/pyringe
	branch = master
[submodule "_lib/_todo/recordmydesktop"]
	path = _lib/_todo/recordmydesktop
	url = https://github.com/jamoozy/recordmydesktop
	branch = master
[submodule "_lib/_todo/screenkey"]
	path = _lib/_todo/screenkey
	url = https://gitlab.com/wavexx/screenkey.git
	branch = master
[submodule "_lib/_todo/compton"]
	path = _lib/compton
	url = https://github.com/chjj/compton.git
	branch = master
[submodule "_lib/xdotool"]
	path = _lib/xdotool
	url = https://github.com/jordansissel/xdotool.git
	branch = master
[submodule "_lib/fzf"]
	path = _lib/fzf
	url = https://github.com/junegunn/fzf.git
	branch = master
[submodule "_lib/emacs"]
	path = _lib/emacs
	url = git@github.com:0xkag/emacs.git
	branch = emacs-27
[submodule "_lib/flamegraph"]
	path = _lib/_todo/flamegraph
	url = https://github.com/brendangregg/FlameGraph.git
	branch = master
[submodule "_lib/ansifilter"]
	path = _lib/ansifilter
	url = https://gitlab.com/saalen/ansifilter
	branch = master
[submodule "_lib/autokey"]
	path = _lib/autokey
	url = https://github.com/autokey/autokey
	branch = master
[submodule "_lib/_todo/fpart"]
	path = _lib/_todo/fpart
	url = https://github.com/martymac/fpart
	branch = master
[submodule "_lib/_todo/pcstat"]
	path = _lib/_todo/pcstat
	url = https://github.com/tobert/pcstat
	branch = master
[submodule "_lib/_todo/zappa"]
	path = _lib/_todo/zappa
	url = https://github.com/Miserlou/Zappa
	branch = master
[submodule "_lib/_todo/xsel"]
	path = _lib/_todo/xsel
	url = https://github.com/kfish/xsel
	branch = master
[submodule "_lib/xclip"]
	path = _lib/xclip
	url = https://github.com/astrand/xclip
	branch = master
[submodule "_lib/_todo/retdec"]
	path = _lib/_todo/retdec
	url = https://github.com/avast-tl/retdec.git
	branch = master
[submodule "_lib/_todo/lambdash"]
	path = _lib/_todo/lambdash
	url = https://github.com/alestic/lambdash
	branch = master
[submodule "_lib/mosh"]
	path = _lib/mosh
	url = https://github.com/mobile-shell/mosh
	branch = master
[submodule "_lib/_todo/git-hammer"]
	path = _lib/_todo/git-hammer
	url = https://github.com/asharov/git-hammer.git
	branch = master
[submodule "_lib/bitwise"]
	path = _lib/bitwise
	url = https://github.com/mellowcandle/bitwise
	branch = master
[submodule "_lib/_todo/pwndbg"]
	path = _lib/_todo/pwndbg
	url = https://github.com/pwndbg/pwndbg
	branch = dev
[submodule "_lib/pycoverage.el"]
	path = _lib/pycoverage.el
	url = https://github.com/mattharrison/pycoverage.el
	branch = master
