[submodule "lib/oh-my-zsh"]
	path = lib/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
	branch = master
[submodule "sshrc"]
	path = lib/sshrc
	url = https://github.com/Russell91/sshrc
	branch = master
[submodule "lib/cask"]
	path = lib/cask
	url = https://github.com/cask/cask.git
	branch = master
[submodule "lib/spacemacs"]
	path = lib/spacemacs
	url = https://github.com/syl20bnr/spacemacs
	branch = develop
[submodule "lib/fasd"]
	path = lib/fasd
	url = https://github.com/clvv/fasd
	branch = master
[submodule "lib/pyenv"]
	path = lib/pyenv
	url = https://github.com/yyuu/pyenv.git
	branch = master
[submodule "lib/pyenv-virtualenv"]
	path = lib/pyenv-virtualenv
	url = https://github.com/yyuu/pyenv-virtualenv.git
	branch = master
[submodule "lib/gollum"]
	path = lib/gollum
	url = https://github.com/gollum/gollum
	branch = master
[submodule "lib/ps_mem"]
	path = lib/ps_mem
	url = https://github.com/pixelb/ps_mem/
	branch = master
