# vim: set noet sw=30 ts=30:
autoflake	# spacemacs python anaconda
coverage	# devtools
docutils	# doctools
flake8	# devtools
ipdb	# repl
ipython	# repl
jedi==0.8.1	# spacemacs python anaconda
json-rpc==1.8.1	# spacemacs python anaconda
nose	# devtools
pep8	# devtools
pyflakes	# devtools; dep of autoflake
pylint	# devtools
pytest	# devtools
# DISABLED -e "git+https://github.com/pinard/Pymacs.git#egg=Pymacs"
# DISABLED rope	# ropemacs
# DIABLED ropemacs	# ropemacs
service_factory==0.1.2	# spacemacs python anadonda
tox	# devtools

