ack
ansible
ansifilter
arc-saml
arc-sshproxy
asciidoc
autoconf
automake
aws-iam-authenticator
awscli
bash
bash-completion@2
bash-language-server
bind
binutils
bison
bzip2
cmake
colima
connect
docker
docker-credential-helper-ecr
dos2unix
emacs
expect
gcc
gdb
glab
global
gmp
go
goimports
gopls
htop
iftop
iproute2mac
jdtls
jenv
jq
krb5
kstart
kubernetes-cli
ldns
libev
libtool
lua-language-server
marksman
moreutils
mosh
ncdu
netcat
node
openldap
openssl@3
pandoc
pcre
pipx
pkgconf
prettier
proxychains-ng
pv
python@3.14
remctl
rsync
shfmt
stylua
teleport
telnet
terraform-ls
the_silver_searcher
tig
tmux
typescript-language-server
uv
vscode-langservers-extracted
wget
whois
wmctrl
xclip
yaml-language-server
zlib
