# vim: set noet sw=30 ts=30:

# spacemacs python mode -- anaconda backend

jedi>=0.9.0
json-rpc>=1.8.1
service_factory>=0.1.5

# spacemacs python mode -- python language server backend

pyls-isort
python-language-server

# spacemacs python mode -- general

epc
importmagic

# aws

aws-shell
awscli
boto3
botocore

# 3.x backports

futures
scandir

# 3.x compat

future

# cli

click

# crypto

certifi
cryptography
pycrypto

# datetime

arrow

# devtools

autoflake
bumpversion
cookiecutter
coverage
docutils
flake8
mock
nose
pep8
pip
pyflakes<1.7.0
pylint
pytest
pytest-runner
tox

# formats/text/converters

pygments
toml
ruamel.yaml

# debugging/hacking/pcap/network/security/systems

atomicwrites
ipdb
psutil
ptyprocess
pwntools
pyelftools
scapy

# http

requests
requests-kerberos
urllib3

# repl

ipython

# text

pygments

