# vim: set noet sw=30 ts=30:
acpi
ack-grep
apt-file
asciidoc
attr
autoconf
autofs
automake
bash
bash-completion
bc
binutils
# blktrace
bsdutils
bundler
bvi
bzip2
cryptsetup
curl
diffstat
diffutils
debsums
dkms
dmidecode
dnsutils
elinks
emacs
exuberant-ctags
gcc
gddrescue
gdb
ghc
ghc-doc
gir1.2-gtksource-3.0 # for autokey
git
git-doc
git-man
git-svn
global
gnupg
golang
gpgv
hdparm
htop
httpie
i3
i3-wm
i3lock
i3status
imagemagick
ipython
ipython-doc
ipython-notebook
jq
less
libconfig-dev
libdbus-1-dev
libev-dev
libevent-dev
libgl1-mesa-dev
libpcre3-dev
libx11-dev
locate
lockfile-progs
lshw
lsof
ltrace
m4
make
mc
mime-construct
nfs-common
nmap
nodejs-legacy
npm
pandoc
https://github.com/jgm/pandoc/releases/download/1.17.0.2/pandoc-1.17.0.2-1-amd64.deb
pastebinit
patch
patchutils
psmisc
pstack
pv
pwgen
python
python-pip
python-setuptools
rake
rsync
sharutils
smartmontools
sqlite3
steghide
stow
strace
subversion
suckless-tools
synaptic
systemtap
tcl
tcpdump
telnet
texinfo
tmux
ufw
unrar
unzip
vim-doc
vim-gnome
vim-tiny
vlc
vlock
wamerican
wbritish
wget
whois
wireshark
x11vnc
xz-utils
# youtube-dl
# zenmap
zip
zsh
zsh-doc

