base64
bash
bzip2
colortree
coreutils
curl
desktop-file-utils
dmidecode
findutils
flock
free
gawk
git
glib2
gmake
gnugetopt
gnupg
gnuwatch
go
gsed
gtar
htop
iftop
iperf3
mtr
nmap
password-store
pv
python%2.7
python%3.9
ripgrep
speedtest-cli
sqlite3
the_silver_searcher
vim--no_x11
wget
wireguard-tools
xclip
xz
zsh

