# vim: set noet sw=30 ts=30:
apt-file
autoconf
autofs
automake
bash-completion
bc
binutils
bsdutils
bundler
bzip2
cryptsetup
curl
diffstat
diffutils
debsums
dkms
dmidecode
dnsutils
elinks
emacs
gcc
gddrescue
gdb
ghc
ghc-doc
git
git-doc
git-man
git-svn
global
gnupg
gpgv
hdparm
htop
httpie
i3
i3-wm
i3lock
i3status
imagemagick
ipython
ipython-doc
ipython-notebook
jq
less
locate
lockfile-progs
lshw
lsof
ltrace
m4
make
mc
mime-construct
nfs-common
nmap
nodejs-legacy
npm
pandoc
https://github.com/jgm/pandoc/releases/download/1.17.0.2/pandoc-1.17.0.2-1-amd64.deb
pastebinit
patch
patchutils
psmisc
pstack
pwgen
python
python-pip
python-setuptools
rake
rsync
sharutils
smartmontools
sqlite3
steghide
stow
strace
subversion
suckless-tools
synaptic
systemtap
tcl
tcpdump
telnet
texinfo
tmux
ufw
unrar
unzip
vim-doc
vim-gnome
vim-tiny
vlc
vlock
wamerican
wbritish
wget
whois
x11vnc
zip
zsh
zsh-doc

