# vim: set noet sw=30 ts=30:

# see also http://py3readiness.org/

# spacemacs python mode -- anaconda backend

jedi>=0.13.0
json-rpc>=1.8.1
service_factory>=0.1.5

# spacemacs python mode -- python language server backend

pyls-isort
python-language-server

# spacemacs python mode -- general

epc
importmagic

# aws

aws-shell
awscli
boto3
botocore

# 3.x backports

futures
scandir
subprocess32

# 3.x compat

2to3
future
futures
six

# cli

click

# crypto

certifi
cryptography
pycrypto

# datetime

arrow

# devtools

autoflake
bumpversion
cookiecutter
coverage
docutils
flake8
mock
nose
pep8
pip
pipdeptree
pyflakes<1.7.0
pylint
pytest
pytest-runner
tox

# formats/text/converters/classes/serialization

attrs
colorama
jinja2
protobuf
pygments
toml
ruamel.yaml

# debugging

better_exceptions
icecream
ipdb
q

# hacking/pcap/network/security/systems/protocols

atomicwrites
dnspython
ipaddress
psutil
ptyprocess
pwntools
pyelftools
python-ldap
scapy
sh

# http

requests
requests-kerberos
urllib3

# http cli

httpie
httpie-aws-auth
httpie-negotiate

# repl

ipython

