# vim: set noet sw=30 ts=30:

acl
acpi
acpi-support
ack
ack-grep
apache2
apache2-utils
apt-file
apt-rdepends
apt-transport-https
apt-utils
asciidoc
aspell
aspell-en
attr
autoconf
autofs
automake
bash
bash-completion
bc
binutils
bison
# blktrace
bsdutils
bundler
bvi
bzip2
ca-certificates
cgdb
chromium-browser
coreutils
cpio
cryptsetup
curl
cvs
debsums
dictionaries-common
diffstat
diffutils
dkms
dmidecode
dmsetup
dnsutils
docker
docker-compose
docker.io
dos2unix
elinks
emacs
exuberant-ctags
file
findutils
firefox
flex
fontconfig
g++
gcc
gddrescue
gdb
gdisk
ghc
ghc-doc
gimp
gir1.2-gtksource-3.0	# for autokey
git
git-annex
git-doc
git-man
git-svn
global
gnome-disk-utility
gnupg2
golang
golang-doc
gpg
gpg-agent
gpgv
hdparm
htop
httpie
i3
i3-wm
i3blocks
i3lock
i3status
imagemagick
ipython
# ipython-doc
# ipython-notebook
jq
less
locate
lockfile-progs
lshw
lsof
ltrace
m4
make
mc
mime-construct
mutt
nano
nasm
ncdu
nfs-common
nmap
# node-gyp
# nodejs-dev
# nodejs-legacy
# npm
openssh-client
openssh-server
openssl
pandoc
par
pass
passwd
pastebinit
patch
patchutils
pavucontrol
psmisc
pstack
pv
pwgen
python
python-dev
python-pip
python-setuptools
python3
python3-dev
python3-pip
python3-setuptools
qemu
qrencode
rake
remmina
remmina-plugin-rdp
remmina-plugin-vnc
rpm
rpm2cpio
rsync
scons
sharutils
shellcheck
smartmontools
socat
sqlite3
ssh
steghide
stow
strace
subversion
suckless-tools
synaptic
systemtap
tar
tcl
tcpdump
telnet
texinfo
texlive
thunar
tig
tk
tmux
tshark
ttf-mscorefonts-installer
ufw
unrar
unzip
vim
vim-doc
vim-gnome
vim-tiny
virtualbox
vlc
vlock
wamerican
wbritish
wget
whois
wireshark
wmctrl
x11vnc
xclip
xpdf
xscreensaver
xsel
xxd
xz-utils
# youtube-dl
# zenmap
zip
zlib1g-dev
zsh
zsh-doc

# libs

libbison-dev
libbsd-dev
libbz2-dev
libc-dev-bin
libc6-dev
libcairo2-dev
libconfig-dev
libcurl4-openssl-dev
libdb-dev
libdbi-dev
libdbus-1-dev
libdrm-dev
libegl1-mesa-dev
libepoxy-dev
libev-dev
libevent-dev
libexpat1-dev
libfaac-dev
libffi-dev
libfl-dev
libfontconfig1-dev
libfreetype6-dev
libgc-dev
libgconf2-dev
libgif-dev
libgl1-mesa-dev
libglib2.0-cil-dev
libglib2.0-dev
libglib2.0-dev-bin
libgmp-dev
libgnomecanvas2-dev
libgnutls28-dev
libgoffice-0.10-dev
libgoffice-0.8-dev
libgraphite2-dev
libgsf-1-dev
libgtk-3-dev
libgtk2.0-cil-dev
libgtk2.0-dev
libharfbuzz-dev
libidn11-dev
libidn2-0-dev
libidn2-dev
libjpeg-dev
libkrb5-dev
libldap2-dev
libltdl-dev
libmotif-dev
libmp3lame-dev
libncurses5-dev
libp11-kit-dev
libpango1.0-dev
libpcre3-dev
libpng-dev
libpthread-stubs0-dev
libpython-all-dev
libpython-dev
libpython2.7-dev
libpython3-dev
libpython3.6-dev
libreadline6-dev
librsvg2-dev
libsm-dev
libssl-dev
libtasn1-6-dev
libtiff-dev
libtinfo-dev
libuv1-dev
libwayland-dev
libx11-dev
libx11-xcb-dev
libx264-dev
libxau-dev
libxml2-dev
libxmu-dev
libxpm-dev
libxslt1-dev
linux-libc-dev
nettle-dev

